body {
  background: url(https://images3.alphacoders.com/273/273289.jpg) no-repeat center center fixed;
  background-size: cover;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

#temperature {
  font-size: 100px;
}

.container {
  display: -webkit-flex;
  display: flex;
}

.initial {
  -webkit-flex: initial;
          flex: initial;
  width: 100px;
  min-width: 50px;
}

.current-temp {
  -webkit-flex: 1;
          flex: 1;
  font-size: 10;
  color: white;
  background-color: black;
}

.controls {
  -webkit-flex: 2;
          flex: 2;
}

.pwr-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}

.pwr-mode {
  position: relative;
  top: 0px;
  width: 100%;
  display: inline;
}

.pwr-buttons {
  display: inline;
  background-color: green; /* Green */
  border: none;
  border-radius: 10%;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 9px #999
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 40px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
